# ce fichier va être le 1er qui va être appelé dans TOUTES les pages de notre projet
# réécrire de Apache 

RewriteEngine on  #active le module de réériture de Apache 
RewriteRule ^([a-zA-Z0-9_\-/]*)$ index.php?page=$1 


# http://localhost/projet-php/tp/accueil/index
# http://localhost/projet-php/tp/index.php?page=accueil/index
